.number-entry {
  width: 4em;
}

.number-entry-time {
  width: 3em;
}

#calendar {

}

.times-select {
	display: none;
}

.days_of_week {
	display: none;
}

.calendar-container {
	padding: 1em;
	border-radius: 5px;
}

#right-panel {
	padding: 0.5em;
	background: #F0F0F0;
	border-radius: 5px;
	min-height: 40em;
}

.template-container {
	margin: 1em;
	padding: 1em;
	background: #F0F0F0;
	border-radius: 5px;
}