    <div class='exercise-fields'>
      <select id="workout_component_sets_attributes_<%= count %>_workout_component_id" name="workout[component_sets_attributes][<%= count %>][workout_component_id]"><option selected="selected" value="2">Bicep Curl</option>
<option value="3">Chest Press</option>
<option value="5">Shoulder Press</option>
<option value="6">Lat Pulldown</option></select>
      <input class="number-entry" id="workout_component_sets_attributes_0_kg" name="workout[component_sets_attributes][0][kg]" type="number" />kg 
      <input class="number-entry" id="workout_component_sets_attributes_0_reps" name="workout[component_sets_attributes][0][reps]" type="number" />reps 
      <input class="number-entry" id="workout_component_sets_attributes_0_num_of_sets" name="workout[component_sets_attributes][0][num_of_sets]" type="number" />sets 
       - Rest: <input class="number-entry" id="workout_component_sets_attributes_0_rest" name="workout[component_sets_attributes][0][rest]" type="number" />s
      <input class="destroy" id="workout_component_sets_attributes_0__destroy" name="workout[component_sets_attributes][0][_destroy]" type="hidden" value="false" />
      <a class="removeExercise" href="#"><img alt="Remove" src="/assets/remove.png" /></a>
    </div>